* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* GLOBAL STYLES HERE */

/* MAIN PAGE HEIGHT */

.height-full {
  min-height: 100vh;
}

.height-half {
  min-height: 50vh;
}

.images-in-app {
  width: 100%;
}

.form-input {
  border-radius: 2rem !important;
  text-align: center;
  margin: 1rem;
}

.page-header {
  background-color: #100855;
  min-height: 40vh;
  color: #fff;
}
/* BUTTON STYLES */
.primary-button {
  border-radius: 2rem !important;
  color: #fff;
  background-color: #d02c75 !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border: none !important;
  margin: 1rem;
}
.primary-button:hover {
  border-radius: 2rem !important;
  color: #d02c75 !important;
  border: 1px #d02c75 solid !important;
  background-color: #fff !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin: 1rem;
}

/* paystack button */
.paystack-button {
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #163e9f;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 7vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* active tabs */
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tab  {
  background: #d02c75;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}


/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  /* hide on mobile */
  .hide-on-mobile {
    visibility: hidden;
    display: none;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/*  Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}


